 <div class="user-details">
  <h1> Reinventing Human Understanding </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Secured</h2>
    </div>
    <div class="tech">
      <h2>Zgmund-AI</h2>
	  <i class="devicon-javascript-plain colored"></i>
	  <i class="devicon-csharp-plain colored"></i>
	  <i class="devicon-go-plain colored"></i>
	  <i class="devicon-java-plain-wordmark colored"></i>
	  <i class="devicon-php-plain colored"></i>
	  <i class="devicon-python-plain-wordmark colored"></i>
	  <i class="devicon-ruby-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>API</h2>
    </div>
</div>
<div class="user-details">
<a class="project-link" href="https://airtable.com/shrOV5PSG9JVF9IFC">Check it out</a>
</div>